HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.mvn/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.idea/
/services/notification-service/.gitignore
/services/eureka-servere/.gitignore
/services/api-gateway/.gitignore
/services/notification-service/mvnw.cmd
/services/eureka-server/mvnw.cmd
/services/api-gateway/mvnw.cmd
/services/notification-service/mvnw
/services/eureka-server/mvnw
/services/api-gateway/mvnw
/services/order-service/.gitignore
/services/order-service/mvnw
/services/order-service/mvnw.cmd
/services/payment-service/.gitignore
/services/payment-service/mvnw
/services/payment-service/mvnw.cmd
/services/product-service/.gitignore
/services/eureka-server/.gitignore
/services/product-service/mvnw
/services/notification-service/.mvn/
/services/order-service/.mvn/
/services/payment-service/.mvn/
/services/product-service/.mvn/
/services/notification-service/src/test/
/services/order-service/src/test/
/services/payment-service/src/test/
/services/product-service/mvnw.cmd
/services/product-service/src/test/
/services/api-gateway/src/test/
/services/eureka-server/src/test/
/services/customer-service/src/test/
/services/customer-service/mvnw
/services/customer-service/mvnw.cmd
/services/customer-service/.gitignore
/services/customer-service/.mvn/
